<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>

<div id="game_screen" class="container text-center py-16">
    <div class="controls flex items-center gap-x-24 border border-gray-600 py-2 px-4">
        <div>
            <h4>Seasons</h4>
            <h5 id="years_label">1950 - 2024</h5>
        </div>
        <div class="mx-auto">
            <h4>Game Mode</h4>
            <h5>Infinite</h5>
        </div>
        <div>
            <h4>New Round</h4>
            <button id="reset_btn" name="reset_game" class="ml-auto rotate"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-refresh-cw"><polyline points="23 4 23 10 17 10"></polyline><polyline points="1 20 1 14 7 14"></polyline><path d="M3.51 9a9 9 0 0 1 14.85-3.36L23 10M1 14l4.64 4.36A9 9 0 0 0 20.49 15"></path></svg></button>
        </div>
    </div>

    <div class="flex justify-center items-center gap-x-4 mt-8">
        <select id="grand_prix_sel" name="grand_prix" class="w-full">
            <% lines.forEach(line => { %>
                <option><%= line %></option>
            <% }) %>
        </select>
        <select id="year_sel" name="year">
            <% for (var i = 2024; i >= 1950; i--){ %>
                <option><%= i %></option>
            <% } %>
        </select>
        <button id="submit_btn" name="submit" class="btn btn-submit">Submit</button>
    </div>

    <div id="hint" class="absolute left-1/2 transform -translate-x-1/2 mt-2"></div>

    <div id="loader" class="mt-16 hidden"><span class="loader"></span></div>

    <table id="results" class="mx-auto mt-12">
        <thead>
            <tr>
                <th>POSITION</th>
                <th>DRIVER</th>
                <th>TEAM</th>
                <th>LAPS</th>
                <th>TIME</th>
                <th>POINTS</th>
            </tr>
        </thead>
        <tbody>
            <% randomSheetData.forEach((row, i) => { %>
                <% if (i < 5){ %>
                <tr>
                    <% row.forEach((cell, j) => { %>
                        <% if (j === 1){ %>
                            <% 
                                const cleanCell = cell.replace(/\s+/g, ' ').trim();
                                const parts = cleanCell.split(' ');
                                
                                let firstName = parts[0].charAt(0).toUpperCase() + parts[0].slice(1).toLowerCase();
                                let lastName = parts.slice(1).join(' ').toUpperCase();
                            %>
                            <td><%= firstName + (lastName ? ' ' + lastName : '') %></td>
                        <% } else { %>
                            <td><%= cell %></td>
                        <% } %>
                    <% }); %>
                </tr>
                <% } %>
            <% }); %>
        </tbody>
    </table>

    <div id="guess_history" class="history mt-4"></div>
</div>

<%- include('./partials/footer.ejs') %>
